RewriteEngine on

# RewriteCond %{HTTP_HOST} ^www\.admin\.web [NC]
# RewriteRule ^(.*)$ http://admin.web/$1 [L,R=301]

RedirectMatch 403 /\..*$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

# <IfModule mod_expires.c>
#   ExpiresActive on
# 
#   ExpiresByType image/gif                 "access plus 9 month"
#   ExpiresByType image/png                 "access plus 9 month"
#   ExpiresByType image/jpg                 "access plus 9 month"
#   ExpiresByType image/jpeg                "access plus 9 month"
# 
#   ExpiresByType text/css                  "access plus 2 months"
#   ExpiresByType application/javascript    "access plus 2 months"
#   ExpiresByType text/javascript           "access plus 2 months"
# 
#   <IfModule mod_headers.c>
#     Header append Cache-Control "public"
#   </IfModule>
# 
# </IfModule>

# <IfModule deflate_module>
#     # Enable compression for the following file types.
#     AddOutputFilterByType DEFLATE application/javascript text/css text/html text/javascript text/plain text/xml
# </IfModule>

<filesMatch "last-update\.txt">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>

<filesMatch "update\.json">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>